extends layout
	
block content
	include navbar

	//- -for (let i = 0; i < users.length; i++)
	//- 	li= users[i].name
	.container
		h1= title
		-if(name)
			h1 Welcome, #{name}
		h3 #{band.title}
		img(src=`${band.imageUrl}`)
		
		

		
		

