nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#">WebSiteName)

        ul.nav.navbar-nav
            li.active
                a(href="/")=title
            li
                a(href="/login") Login
            