.navbar.navbar-default(role='navigation')
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Rock or Not
			a.navbar-brand(href='/') Rock or Not
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.active
					a(href='/register') Register
				li.active
					a(href='/login') Login
				li.active
					a(href='/standings') Standings


