extends layout

block content

    include navbar
    .container
        .row
            .col-sm-12
                h1 Register
                form(action="/registerProcess", method="post")
                    .form-group
                        label(for="name") Name:
                        input(type="text" value=`${name}` class="form-control" name="name")
                        label(for="email") Email Address:
                        input(type="email" value=`${email}` class="form-control" name="email")
                        label(for="password") Password:
                        input(type="password" value = "" class="form-control" name="password")
                        input(type="checkbox")
                        button(class="btn btn-primary") Register!